.backbtn {
    border: 0;
    background: transparent;
    font-size: 15px;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    left: 50px;
    top: 50px;
}