@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&display=swap');

body,html {
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Poppins;
}

.box {
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.05);
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

input,textarea {
    padding: 15px 25px;
    font-size: 15px;
    background-color: #f1f1f1;
    border: 2px solid #dcdcdc;
    display: block;
    border-radius: 5px;
    margin: 15px
}

button[type="submit"],.submit-btn {
    border-radius: 5px;
    background-color: darkcyan;
    border: 0;
    color: white;
    cursor: pointer;
    padding: 15px 25px;
    font-weight: bold;
    transition: .2s;
}

button[type="submit"]:hover {
    background-color: #0c6565;
}

button[disabled] {
    background-color: #969696;
    pointer-events: none;
}