.a4-div {
    width: 21cm;
    height: 29.7cm;
    background-color: white;
    border:none;
    margin: 0 auto;
    padding: 2cm;
    box-sizing: border-box;
}

.small-div {
    width: 10cm;
    height: 10cm;
    background-color: white;
    border:none;
    margin: 0 auto;
    padding: 2cm;
    box-sizing: border-box;
}