button {
    position: relative;    
}

.stands-button{    
    margin-left: 80%;
}

.delete-button {
    margin: auto 10px;
    background: darkred !important;
}

.wrapper{
    position: relative;
    margin: auto 45%;
    padding-top: 15px;
}

.save-button {
    position: relative;
    margin: auto 95px;
    
}

.qr {
    position: relative;
    margin-top: 15px;
    margin-left : 15px;
}