button {
    position: relative;    
}

.stands-button{    
    margin-left: 80%;
}

.delete-button {
    margin: auto 10px;
    background: darkred !important;
}

.wrapper{
    text-align: center;
}

.save-button {
    position: relative;
    margin: auto 95px;
    
}

.qr {
    position: relative;
    margin: auto;
    max-width: 450px;
}