.submit-vote {
    border: 0;
    border-radius: 50%;
    background: darkcyan;
    height: 50px;
    width: 50px;
    color: white;
    font-weight: bold;
    margin-left: 10px;
    cursor: pointer;
}