.standList {
    text-align: center;
}

.standItem {
    background-color: white;
    margin: 20px;
    border-radius: 5px;
    display: flex;
    padding-left: 25px;
    overflow: hidden;
}

.standItem div {
    flex: 1;
    text-align: left;
}

.stand-link {
    height: 100%;
    width: 90px;
    position: relative;
    background-color: darkcyan;
}
.stand-link div {
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}