.standList {
    text-align: center;
}

.standList .standItem {
    background-color: white;
    box-shadow: 0 0 10px 2px #e0e0e0;
    border: 3px solid black;
    margin: 20px;
    border-radius: 5px;
    padding: 15px;
    display: flex;
}

.standList .standItem div {
    flex: 1;
    text-align: left;
}
