.standList {
    text-align: center;
    max-width: 1000px;
    margin: auto;
}

.standItem {
    background-color: white;
    margin: 20px;
    border-radius: 5px;
    padding: 25px;
    overflow: hidden;
}

.standItem div {
    text-align: left;
}

.stand-link {
    position: relative;
    width: fit-content;
    padding: 10px;
    background-color: darkcyan;
}
.stand-link div {
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}